#Ignore R project related data
.Rproj.user
*.Rproj
EVA-impact-aires-protegees.Rproj
.Rhistory
.RData
.Ruserdata

#Ignore credentials (txt storing tokens)
credentials.txt

#Ignore data files
*.csv
*.xls
*.xlsx
*.tif

#Ignore documents
#*.pdf
#*.html
#*.htm
#*.doc
#*.docx
#*.odt

#Ignore images
*.png
*.jpg
*.jpeg

#Ignore specific folders and their subfolders
data_raw/*
data_tidy/*
DesStat/*
#docs/*
literature/*
reports/*
