#Ignore R project related data
.Rproj.user
*.Rproj
EVA-impact-aires-protegees.Rproj
.Rhistory
.RData
.Ruserdata

#Ignore credentials (txt storing tokens)
credentials.txt

#Ignore data files
*.csv
*.xls
*.xlsx
*.tif

#Ignore documents
*.pdf
*.doc
*.docx
*.odt

#Ignore images
*.png
*.jpg
*.jpeg

#Ignore specific folders and their subfolders
data_raw/*
data_tidy/*
DesStat/*
literature/*
reports/*

#Ignore specific scripts
## Confidential access credentials to S3 server
_00_minio_nolimit_access.Rmd 
## Confidential statistics performed here and not relevant for publishing publicly (though nothing confidential in the script per se)
_01_stat_project_confidential.Rmd
## Script to perform specific stats, not relevant to publish
_01_stat_misc.Rmd
## Old code to download data from mapme package
_00_download_mapme_data.Rmd