.navbar-inverse {
  background-color: #222;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #9d9d9d;
}
.list-group-item.active {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
}
item.active, .list-group-item.active:hover {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
}

